# Ignore MLflow local runs
mlruns/
mlartifacts/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
.env/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Directories
results/
.vscode/
.gradio/