
python>=3.12

# Core ML
torch>=2.0.0
transformers>=4.40.0
datasets>=2.20.0
evaluate>=0.4.1

# Data handling & metrics
scikit-learn>=1.3.0
pandas>=2.0.0
numpy>=1.24.0

# Visualization
matplotlib>=3.7.0
seaborn>=0.12.2

# Utils
tqdm>=4.65.0

# Source data
kagglehub
